table, th, td {
    border: 1px solid black;
    padding: 20px;
}

th, td {

    padding: 1px;
}

table{
    background-color: aqua;
}

.bluecollour{
    background-color: blue;
}

.greencollour{
    background-color: green
}
.orangecollour{
    background-color: orange;
}